<main>
  <div class="container">
    <div class="row">
      <div class="jumbotron">
        <h1>Hello world!</h1>
        <p>If you would like to get in touch drop me a line</p>
      <p><a class="btn btn-primary btn-lg" href="/contact" role="button">Contact Me</a></p>
    </div>
    </div>
    </div>
</main>

